.Label {
  padding: 10px;
  border: #1f7a8c 2px solid;
  border-radius: 10px 0px 0px 10px;
  color: #94ecbe;
  min-width: 23%;
  max-width: 160px;
}

#registration-name-input,
#registration-username-input,
#registration-password-input {
  padding: 12px;
  border: #1f7a8c 2px solid;
  border-left: none;
  border-radius: 0px 10px 10px 0px;
  color: #1f7a8c;
  min-width: 53%;
  max-width: 400px;
}

@media only screen and (max-width: 700px) {
  .Label {
    min-width: 32%;
  }

  #registration-name-input,
  #registration-username-input,
  #registration-password-input {
    min-width: 73%;
    padding: 22px;
    border: none;
  }
}

.btnBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btnBox a {
  color: #ba274a;
}
