@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1b2432;
  color: #1f7a8c;
}

h1,
h2 {
  font-family: 'Orbitron', sans-serif;
}

p {
  text-align: center;
}

button {
  padding: 8px 15px 8px 15px;
  border-radius: 10px;
  border-style: none;
  border: #1f7a8c 2px solid;
  font-family: 'Roboto', sans-serif;
  color: #94ecbe;
  background-color: #1b2432;
}

button:hover {
  background-color: #1f7a8c;
}

:root {
  --font-size: calc(10px + 1vmin);
}
